bot-repuestos (1).json
{
  "name": "bot-repuestos",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"ok\"}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "cc5f0806-8ec0-4518-89e3-c9cda8681710",
      "name": "Respond - 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        26048,
        7584
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst entry    = body?.entry?.[0];\nconst change   = entry?.changes?.[0];\nconst value    = change?.value;\nconst messages = value?.messages;\nif (!messages || messages.length === 0) { console.log('[wa-repuestos] Status update ignorado'); return []; }\nconst msg     = messages[0];\nconst contact = value?.contacts?.[0];\nconst meta    = value?.metadata;\nreturn [{ json: {\n  wa_message_id:        msg.id,\n  message_type:         msg.type,\n  message_text:         msg.type === 'text' ? msg.text?.body : null,\n  timestamp_unix:       msg.timestamp,\n  received_at:          new Date(parseInt(msg.timestamp) * 1000).toISOString(),\n  from_phone:           msg.from,\n  contact_name:         contact?.profile?.name || msg.from,\n  phone_number_id:      meta?.phone_number_id,\n  display_phone_number: meta?.display_phone_number\n} }];"
      },
      "id": "9eb4ef24-3649-43a0-b287-25a2b668fbc6",
      "name": "Extraer Datos WA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26288,
        7584
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-text",
              "leftValue": "={{ $json.message_type }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e4cdf44d-a04b-4d49-ae8f-084bbc4b91c0",
      "name": "¿Es mensaje de texto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        26528,
        7584
      ]
    },
    {
      "parameters": {
        "url": "https://ybbfcffzvcnovdobjwmd.supabase.co/rest/v1/tenants",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('Buscar Canal1').first().json.tenant_id }}"
            },
            {
              "name": "select",
              "value": "id,slug,name,settings"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InliYmZjZmZ6dmNub3Zkb2Jqd21kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjM3MTMwMCwiZXhwIjoyMDk3OTQ3MzAwfQ.ch4GY1JTLTNWJd22qdvtIKwU58pwdzRWt7BIvCeo-F4"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InliYmZjZmZ6dmNub3Zkb2Jqd21kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjM3MTMwMCwiZXhwIjoyMDk3OTQ3MzAwfQ.ch4GY1JTLTNWJd22qdvtIKwU58pwdzRWt7BIvCeo-F4"
            }
          ]
        },
        "options": {}
      },
      "id": "19c075f6-e119-44af-af86-16f56a0589db",
      "name": "Buscar Tenant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        27248,
        7424
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ybbfcffzvcnovdobjwmd.supabase.co/rest/v1/contacts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "on_conflict",
              "value": "tenant_id,channel_type,channel_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InliYmZjZmZ6dmNub3Zkb2Jqd21kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjM3MTMwMCwiZXhwIjoyMDk3OTQ3MzAwfQ.ch4GY1JTLTNWJd22qdvtIKwU58pwdzRWt7BIvCeo-F4"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InliYmZjZmZ6dmNub3Zkb2Jqd21kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjM3MTMwMCwiZXhwIjoyMDk3OTQ3MzAwfQ.ch4GY1JTLTNWJd22qdvtIKwU58pwdzRWt7BIvCeo-F4"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"tenant_id\": $('Buscar Canal1').first().json.tenant_id, \"channel_type\": \"whatsapp\", \"channel_id\": $('Extraer Datos WA').first().json.from_phone, \"name\": $('Extraer Datos WA').first().json.contact_name } }}",
        "options": {}
      },
      "id": "1bebc244-79eb-43ba-aaf2-4af012cf8f3a",
      "name": "Upsert Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        27488,
        7424
      ]
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════════════════════════\n// FIND OR CREATE CONVERSATION — v2\n// Fix: cuando is_new_conversation=true, limpiar customer_type y tags de tipo\n//      del contacto para que la nueva conversación arranque NEUTRAL en Lovable\n// Pegar en el nodo \"Find or Create Conversation\" → campo \"JavaScript Code\"\n// ════════════════════════════════════════════════════════════════════════════\n\nconst SUPABASE_URL = 'https://ybbfcffzvcnovdobjwmd.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InliYmZjZmZ6dmNub3Zkb2Jqd21kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjM3MTMwMCwiZXhwIjoyMDk3OTQ3MzAwfQ.ch4GY1JTLTNWJd22qdvtIKwU58pwdzRWt7BIvCeo-F4';\nconst H = { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json' };\n\nconst contactId = $input.first().json.id;\nconst tenantId  = $input.first().json.tenant_id;\nconst channelId = $('Buscar Canal1').first().json.id;\n\nconst cfgResp = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `${SUPABASE_URL}/rest/v1/ai_configs?tenant_id=eq.${tenantId}&channel_id=eq.${channelId}&is_active=eq.true&select=handoff_timeout_hours&limit=1`,\n  headers: H\n});\nconst timeoutHours = cfgResp?.[0]?.handoff_timeout_hours ?? 24;\n\nconst existing = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `${SUPABASE_URL}/rest/v1/conversations?tenant_id=eq.${tenantId}&contact_id=eq.${contactId}&status=in.(open,assigned)&select=id,status,last_message_at,created_at&order=created_at.desc&limit=1`,\n  headers: H\n});\n\nif (Array.isArray(existing) && existing.length > 0) {\n  const conv = existing[0];\n  if (conv.status === 'open') {\n    return [{ json: { conversation_id: conv.id, conversation_status: 'open', is_new_conversation: false } }];\n  }\n  if (conv.status === 'assigned') {\n    const lastMsg = new Date(conv.last_message_at || conv.created_at);\n    const hoursElapsed = (Date.now() - lastMsg.getTime()) / (1000 * 60 * 60);\n    if (hoursElapsed < timeoutHours) {\n      return [{ json: { conversation_id: conv.id, conversation_status: 'assigned', is_new_conversation: false } }];\n    }\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: `${SUPABASE_URL}/rest/v1/conversations?id=eq.${conv.id}`,\n      headers: { ...H, 'Prefer': 'return=minimal' },\n      body: JSON.stringify({ status: 'resolved', resolved_at: new Date().toISOString() })\n    });\n  }\n}\n\n// ── Nueva conversación: crear y limpiar estado del contacto ──────────────────\nconst created = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `${SUPABASE_URL}/rest/v1/conversations`,\n  headers: { ...H, 'Prefer': 'return=representation' },\n  body: JSON.stringify({ tenant_id: tenantId, contact_id: contactId, channel_type: 'whatsapp', status: 'open' })\n});\nconst conversationId = created[0].id;\n\n// FIX: limpiar customer_type y tags de tipo del contacto para que\n// Lovable no muestre el tipo de cliente de la conversación anterior\ntry {\n  const contactResp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${SUPABASE_URL}/rest/v1/contacts?id=eq.${contactId}&select=metadata,tags&limit=1`,\n    headers: H\n  });\n  const contact = contactResp?.[0];\n  if (contact) {\n    const oldMeta = contact.metadata || {};\n    const newMeta = { ...oldMeta };\n    delete newMeta.customer_type;       // limpiar tipo de cliente (retail/wholesale)\n    delete newMeta.pending_quote_items; // limpiar items de cotización pendientes\n\n    // Tags de tipo de cliente a remover al inicio de nueva conversación\n    const TYPE_TAGS = ['wholesale', 'retail', 'capiello', 'dipa', 'listo-para-cerrar'];\n    const oldTags = contact.tags || [];\n    const newTags = oldTags.filter(t => !TYPE_TAGS.includes(t));\n\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: `${SUPABASE_URL}/rest/v1/contacts?id=eq.${contactId}`,\n      headers: { ...H, 'Prefer': 'return=minimal' },\n      body: JSON.stringify({ metadata: newMeta, tags: newTags })\n    });\n    console.log('[NEW CONV] estado del contacto limpiado:', {\n      removedCustomerType: oldMeta.customer_type || null,\n      removedPendingItems: (oldMeta.pending_quote_items || []).length,\n      removedTypeTags: oldTags.filter(t => TYPE_TAGS.includes(t))\n    });\n  }\n} catch(e) {\n  console.log('[NEW CONV] error limpiando estado del contacto (no crítico):', e.message);\n}\n\nreturn [{ json: { conversation_id: conversationId, conversation_status: 'open', is_new_conversation: true } }];"
      },
      "id": "0db2f964-0e3d-468c-a115-7d9933014c09",
      "name": "Find or Create Conversation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        27728,
        7424
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ybbfcffzvcnovdobjwmd.supabase.co/rest/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "on_conflict",
              "value": "channel_message_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InliYmZjZmZ6dmNub3Zkb2Jqd21kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjM3MTMwMCwiZXhwIjoyMDk3OTQ3MzAwfQ.ch4GY1JTLTNWJd22qdvtIKwU58pwdzRWt7BIvCeo-F4"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InliYmZjZmZ6dmNub3Zkb2Jqd21kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjM3MTMwMCwiZXhwIjoyMDk3OTQ3MzAwfQ.ch4GY1JTLTNWJd22qdvtIKwU58pwdzRWt7BIvCeo-F4"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=ignore-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"tenant_id\": $('Buscar Canal1').first().json.tenant_id, \"conversation_id\": $('Find or Create Conversation').first().json.conversation_id, \"channel_message_id\": $('Extraer Datos WA').first().json.wa_message_id, \"content\": $('Extraer Datos WA').first().json.message_text, \"role\": \"user\", \"content_type\": \"text\", \"received_at\": $('Extraer Datos WA').first().json.received_at } }}",
        "options": {}
      },
      "id": "427295d5-4ea9-491a-a820-e3c3e8a6ec60",
      "name": "Insertar Mensaje en Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        27968,
        7424
      ]
    },
    {
      "parameters": {
        "url": "https://ybbfcffzvcnovdobjwmd.supabase.co/rest/v1/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "conversation_id",
              "value": "=eq.{{ $('Find or Create Conversation').first().json.conversation_id }}"
            },
            {
              "name": "order",
              "value": "created_at.asc"
            },
            {
              "name": "limit",
              "value": "25"
            },
            {
              "name": "select",
              "value": "role,content,created_at"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InliYmZjZmZ6dmNub3Zkb2Jqd21kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjM3MTMwMCwiZXhwIjoyMDk3OTQ3MzAwfQ.ch4GY1JTLTNWJd22qdvtIKwU58pwdzRWt7BIvCeo-F4"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InliYmZjZmZ6dmNub3Zkb2Jqd21kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjM3MTMwMCwiZXhwIjoyMDk3OTQ3MzAwfQ.ch4GY1JTLTNWJd22qdvtIKwU58pwdzRWt7BIvCeo-F4"
            }
          ]
        },
        "options": {}
      },
      "id": "4e7b3f89-1115-4ebf-8598-f0c9ff4de0f9",
      "name": "Cargar Historial",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        28448,
        7552
      ]
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════════════════════════\n// PREPARAR_MENSAJES_OPENAI — v3\n// Fix: cuando is_new_conversation=true, no usar customer_type guardado\n//      de la sesión anterior → precio = default del canal (retail o wholesale)\n// Pegar en el nodo \"Preparar Mensajes OpenAI\" → campo \"JavaScript Code\"\n// ════════════════════════════════════════════════════════════════════════════\n\nconst historialItems = $input.all();\nconst canalData   = $('Buscar Canal1').first().json;\nconst tenantData  = $('Buscar Tenant').first().json;\nconst extractData = $('Extraer Datos WA').first().json;\nconst convData    = $('Find or Create Conversation').first().json;\nconst contactData = $('Upsert Contact').first().json;\n\nconst SUPABASE_URL = 'https://ybbfcffzvcnovdobjwmd.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InliYmZjZmZ6dmNub3Zkb2Jqd21kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjM3MTMwMCwiZXhwIjoyMDk3OTQ3MzAwfQ.ch4GY1JTLTNWJd22qdvtIKwU58pwdzRWt7BIvCeo-F4';\nconst H = { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}` };\n\nconst channelId          = canalData.id;\nconst tenantId           = tenantData.id;\nconst channelSlug        = canalData.channel_slug || '';\nconst waAccessToken      = canalData.credentials?.access_token || '';\nconst channelPriceType   = canalData.config?.price_type || 'retail';\nconst contactMeta        = contactData.metadata || {};\nconst isNewConversation  = convData.is_new_conversation || false;\n\n// FIX v3: si es conversación nueva, ignorar customer_type almacenado\n// (puede ser de la sesión anterior). Cada conversación arranca con el\n// precio por defecto del canal, hasta que CLASSIFY_CUSTOMER lo actualice.\nconst storedCustomerType = (!isNewConversation && contactMeta.customer_type) ? contactMeta.customer_type : null;\nconst effectivePriceType = storedCustomerType || channelPriceType;\n\n// pending_quote_items: también ignorar si es conversación nueva\n// (Find or Create Conversation v2 ya los borra en Supabase, pero\n// Upsert Contact leyó la metadata ANTES de esa limpieza)\nconst pendingQuoteItems = isNewConversation ? [] : (contactMeta.pending_quote_items || []);\n\nconst cfgResp = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `${SUPABASE_URL}/rest/v1/ai_configs?tenant_id=eq.${tenantId}&channel_id=eq.${channelId}&is_active=eq.true&select=system_prompt,model,max_tokens,temperature&limit=1`,\n  headers: H\n});\nconst cfg = (Array.isArray(cfgResp) && cfgResp.length > 0) ? cfgResp[0] : {};\nconst systemPrompt = cfg.system_prompt || `Sos un asistente de ventas de ${tenantData.name}. Respondé en español rioplatense.`;\nconst model       = cfg.model || 'gpt-4o';\nconst maxTokens   = cfg.max_tokens || 600;\nconst temperature = typeof cfg.temperature === 'number' ? cfg.temperature : 0.7;\n\nconst historial = historialItems\n  .filter(i => i.json.content != null && i.json.content !== '')\n  .slice(-25)\n  .map(i => ({ role: i.json.role === 'user' ? 'user' : 'assistant', content: i.json.content }));\n\nconst rawPhone = extractData.from_phone || '';\nconst toPhone = (rawPhone.startsWith('549') && rawPhone.length === 13) ? '54' + rawPhone.slice(3) : rawPhone;\n\n// Inyectar contexto de productos ya mostrados (solo en conversaciones en curso)\nlet finalSystemPrompt = systemPrompt;\nif (pendingQuoteItems.length > 0) {\n  const pendingList = pendingQuoteItems\n    .map(p => `\"${p.name}\" (product_id: ${p.product_id}, precio: $${p.price})`)\n    .join('; ');\n  finalSystemPrompt +=\n    `\\n\\n[ESTADO DE SESIÓN]: Ya le mostraste estos productos al cliente: ${pendingList}. ` +\n    `Si el cliente confirma, selecciona uno, o usa frases como \"dame ese\", \"sí\", \"quiero ese\", ` +\n    `\"ese mismo\", \"el mismo\", \"bueno\", \"dale\", \"ok\", \"ese\", \"perfecto\": ` +\n    `NO ejecutés SEARCH_PRODUCTS. ` +\n    `Si aún no preguntaste la cantidad, preguntala ahora. ` +\n    `Si ya tenés producto y cantidad confirmados, emitís CREATE_QUOTE con el product_id y la cantidad. ` +\n    `Solo buscá productos nuevos si el cliente pide explícitamente algo diferente a lo ya mostrado.`;\n}\n\nconsole.log(`[PREPARAR] is_new_conv: ${isNewConversation} | storedType: ${contactMeta.customer_type || 'none'} | effectivePrice: ${effectivePriceType}`);\n\nreturn [{ json: {\n  messages_for_openai: [{ role: 'system', content: finalSystemPrompt }, ...historial],\n  to_phone: toPhone,\n  phone_number_id: extractData.phone_number_id,\n  conversation_id: convData.conversation_id,\n  tenant_id: tenantId,\n  channel_id: channelId,\n  channel_slug: channelSlug,\n  price_type: effectivePriceType,\n  pending_quote_items: pendingQuoteItems,\n  wa_access_token: waAccessToken,\n  model,\n  max_tokens: maxTokens,\n  temperature\n} }];"
      },
      "id": "5d1fd17e-5a74-4d4e-baef-400e248ce1d3",
      "name": "Preparar Mensajes OpenAI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        28688,
        7552
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-pro"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": $('Preparar Mensajes OpenAI').first().json.model, \"messages\": $('Preparar Mensajes OpenAI').first().json.messages_for_openai, \"max_tokens\": $('Preparar Mensajes OpenAI').first().json.max_tokens, \"temperature\": $('Preparar Mensajes OpenAI').first().json.temperature } }}",
        "options": {}
      },
      "id": "f1bd4796-4ffb-4d53-937a-5474b096557b",
      "name": "Llamar OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        28928,
        7552
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-der",
              "leftValue": "={{ $json.should_handoff }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "707bf20a-e265-4452-a099-113c66d02c21",
      "name": "¿Derivar a humano?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        30128,
        7552
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://ybbfcffzvcnovdobjwmd.supabase.co/rest/v1/conversations",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('Actualizar Contacto1').first().json.conversation_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InliYmZjZmZ6dmNub3Zkb2Jqd21kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjM3MTMwMCwiZXhwIjoyMDk3OTQ3MzAwfQ.ch4GY1JTLTNWJd22qdvtIKwU58pwdzRWt7BIvCeo-F4"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InliYmZjZmZ6dmNub3Zkb2Jqd21kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjM3MTMwMCwiZXhwIjoyMDk3OTQ3MzAwfQ.ch4GY1JTLTNWJd22qdvtIKwU58pwdzRWt7BIvCeo-F4"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"status\": \"assigned\", \"assigned_at\": new Date().toISOString() } }}",
        "options": {}
      },
      "id": "1c55963a-f14e-4eb7-b9fa-66d765e61ed8",
      "name": "Update Conversacion - Derivar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        30368,
        7424
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $('Actualizar Contacto1').first().json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Actualizar Contacto1').first().json.wa_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"messaging_product\": \"whatsapp\", \"to\": $('Actualizar Contacto1').first().json.to_phone, \"type\": \"text\", \"text\": { \"body\": $('Actualizar Contacto1').first().json.message_to_send } } }}",
        "options": {}
      },
      "id": "c14365bf-70e5-4e87-9795-4faab9bbaf1d",
      "name": "Enviar WA - Derivar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        30608,
        7424
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ybbfcffzvcnovdobjwmd.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InliYmZjZmZ6dmNub3Zkb2Jqd21kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjM3MTMwMCwiZXhwIjoyMDk3OTQ3MzAwfQ.ch4GY1JTLTNWJd22qdvtIKwU58pwdzRWt7BIvCeo-F4"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InliYmZjZmZ6dmNub3Zkb2Jqd21kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjM3MTMwMCwiZXhwIjoyMDk3OTQ3MzAwfQ.ch4GY1JTLTNWJd22qdvtIKwU58pwdzRWt7BIvCeo-F4"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"tenant_id\": $('Actualizar Contacto1').first().json.tenant_id, \"conversation_id\": $('Actualizar Contacto1').first().json.conversation_id, \"content\": $('Actualizar Contacto1').first().json.message_to_send, \"role\": \"agent\", \"content_type\": \"text\" } }}",
        "options": {}
      },
      "id": "1220e7eb-82a1-4f66-a657-764b043ac08c",
      "name": "Guardar Mensaje Bot - Derivar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        30848,
        7424
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $('Actualizar Contacto1').first().json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Actualizar Contacto1').first().json.wa_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"messaging_product\": \"whatsapp\", \"to\": $('Actualizar Contacto1').first().json.to_phone, \"type\": \"text\", \"text\": { \"body\": $('Actualizar Contacto1').first().json.message_to_send } } }}",
        "options": {}
      },
      "id": "ff090c5d-d7a0-4c41-b56f-cc10c49d70da",
      "name": "Enviar WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        30368,
        7664
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ybbfcffzvcnovdobjwmd.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InliYmZjZmZ6dmNub3Zkb2Jqd21kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjM3MTMwMCwiZXhwIjoyMDk3OTQ3MzAwfQ.ch4GY1JTLTNWJd22qdvtIKwU58pwdzRWt7BIvCeo-F4"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InliYmZjZmZ6dmNub3Zkb2Jqd21kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjM3MTMwMCwiZXhwIjoyMDk3OTQ3MzAwfQ.ch4GY1JTLTNWJd22qdvtIKwU58pwdzRWt7BIvCeo-F4"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"tenant_id\": $('Actualizar Contacto1').first().json.tenant_id, \"conversation_id\": $('Actualizar Contacto1').first().json.conversation_id, \"content\": $('Actualizar Contacto1').first().json.message_to_send, \"role\": \"agent\", \"content_type\": \"text\" } }}",
        "options": {}
      },
      "id": "e1a39a6c-d1f8-4322-9cf9-50da87b3c1db",
      "name": "Guardar Mensaje Bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        30608,
        7664
      ]
    },
    {
      "parameters": {
        "path": "wa-repuestos-msg-v1",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e8235191-90fa-405a-83a5-3b0ed71ebea5",
      "name": "WA Webhook GET1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        25808,
        7424
      ],
      "webhookId": "wa-repuestos-verify-v1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wa-repuestos-msg-v1",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b9a7f094-3b70-44d2-b49c-52ba899810c1",
      "name": "WA Webhook POST1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        25808,
        7584
      ],
      "webhookId": "wa-repuestos-msg-v1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('WA Webhook GET1').first().json.query['hub.challenge'] }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "1a446f4d-1eeb-472a-9cd0-b9c3e8e855d0",
      "name": "Respond - Verificacion Meta1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        26048,
        7424
      ]
    },
    {
      "parameters": {
        "url": "https://ybbfcffzvcnovdobjwmd.supabase.co/rest/v1/tenant_channels",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone_number_id",
              "value": "=eq.{{ $('Extraer Datos WA').first().json.phone_number_id }}"
            },
            {
              "name": "select",
              "value": "id,tenant_id,channel_slug,config,credentials,display_name"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InliYmZjZmZ6dmNub3Zkb2Jqd21kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjM3MTMwMCwiZXhwIjoyMDk3OTQ3MzAwfQ.ch4GY1JTLTNWJd22qdvtIKwU58pwdzRWt7BIvCeo-F4"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InliYmZjZmZ6dmNub3Zkb2Jqd21kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjM3MTMwMCwiZXhwIjoyMDk3OTQ3MzAwfQ.ch4GY1JTLTNWJd22qdvtIKwU58pwdzRWt7BIvCeo-F4"
            }
          ]
        },
        "options": {}
      },
      "id": "73992bb4-ee43-4e2e-8887-ebbc80d35c1a",
      "name": "Buscar Canal1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        26768,
        7504
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-canal",
              "leftValue": "={{ !!$json.id }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9d12341a-e5eb-4567-ad6f-4b15f6bc2d7f",
      "name": "¿Canal encontrado?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        27008,
        7504
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-asig",
              "leftValue": "={{ $('Find or Create Conversation').first().json.conversation_status }}",
              "rightValue": "assigned",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5d473d2c-5af5-4eba-8676-123ca279218d",
      "name": "¿Conversación asignada?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        28208,
        7424
      ]
    },
    {
      "parameters": {
        "jsCode": "const openAIResp = $input.first().json;\nconst aiText = openAIResp.choices?.[0]?.message?.content;\nif (!aiText) throw new Error('[Analizar Markers] OpenAI no devolvio contenido');\nconst prepData = $('Preparar Mensajes OpenAI').first().json;\nfunction extractMarker(text, marker) {\n  const tag = `[${marker}:`;\n  const start = text.indexOf(tag);\n  if (start === -1) return null;\n  const jsonStart = start + tag.length;\n  let depth = 0, i = jsonStart;\n  while (i < text.length) {\n    if (text[i] === '{') depth++;\n    else if (text[i] === '}') { depth--; if (depth === 0) { try { return JSON.parse(text.substring(jsonStart, i + 1)); } catch(e) { return null; } } }\n    i++;\n  }\n  return null;\n}\nfunction cleanMarkers(text) {\n  return (text || '')\n    .replace(/\\[SEARCH_PRODUCTS:\\{[\\s\\S]*?\\}\\]/g, '')\n    .replace(/\\[PRODUCTS_RESULT:[\\s\\S]*?\\]/g, '')\n    .replace(/\\[GET_PRODUCT_LINK:\\{[\\s\\S]*?\\}\\]/g, '')\n    .replace(/\\[PRODUCT_LINK_RESULT:[\\s\\S]*?\\]/g, '')\n    .replace(/\\[CREATE_QUOTE:\\{[\\s\\S]*?\\}\\]\\}?\\]/g, '')\n    .replace(/\\[ADD_TAGS:\\{[\\s\\S]*?\\}\\]/g, '')\n    .replace(/\\[UPSERT_VEHICLE:\\{[\\s\\S]*?\\}\\]/g, '')\n    .replace(/\\[CLASSIFY_CUSTOMER:\\{[\\s\\S]*?\\}\\]/g, '')\n    .replace(/\\[CREATE_OPPORTUNITY:\\{[\\s\\S]*?\\}\\]/g, '')\n    .replace(/\\[DERIVAR:[^\\]]+\\]/g, '')\n    .trim();\n}\nconst searchProductsData   = extractMarker(aiText, 'SEARCH_PRODUCTS');\nconst getProductLinkData   = extractMarker(aiText, 'GET_PRODUCT_LINK');\nconst createQuoteData      = extractMarker(aiText, 'CREATE_QUOTE');\nconst addTagsData          = extractMarker(aiText, 'ADD_TAGS');\nconst upsertVehicleData    = extractMarker(aiText, 'UPSERT_VEHICLE');\nconst classifyCustomerData = extractMarker(aiText, 'CLASSIFY_CUSTOMER');\nconst derivarMatch         = aiText.match(/\\[DERIVAR:([^\\]]+)\\]/);\nconst cleanedText          = cleanMarkers(aiText);\nreturn [{ json: {\n  has_search_products: !!searchProductsData, search_products_data: searchProductsData,\n  has_get_product_link: !!getProductLinkData, get_product_link_data: getProductLinkData,\n  has_create_quote: !!createQuoteData, create_quote_data: createQuoteData,\n  has_add_tags: !!addTagsData, add_tags_data: addTagsData,\n  has_upsert_vehicle: !!upsertVehicleData, upsert_vehicle_data: upsertVehicleData,\n  has_classify_customer: !!classifyCustomerData, classify_customer_data: classifyCustomerData,\n  derivar_reason: derivarMatch ? derivarMatch[1].trim() : null,\n  should_handoff: !!derivarMatch,\n  raw_text: aiText, cleaned_text: cleanedText,\n  message_to_send: cleanedText || 'En breve te ayudo.',\n  conversation_id: prepData.conversation_id, to_phone: prepData.to_phone,\n  phone_number_id: prepData.phone_number_id, tenant_id: prepData.tenant_id,\n  channel_id: prepData.channel_id, channel_slug: prepData.channel_slug,\n  price_type: prepData.price_type, pending_quote_items: prepData.pending_quote_items || [],\n  suggested_products: prepData.suggested_products || [],\n  wa_access_token: prepData.wa_access_token,\n  model: prepData.model, max_tokens: prepData.max_tokens, temperature: prepData.temperature,\n  messages_for_openai: prepData.messages_for_openai\n} }];"
      },
      "id": "6d8cbfa4-677c-4703-97f5-26ca5abf88cd",
      "name": "Analizar Markers1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        29168,
        7552
      ]
    },
    {
      "parameters": {
        "jsCode": "const state = $input.first().json;\nif (!state.has_search_products && !state.has_get_product_link) return [{ json: state }];\n\nconst SUPABASE_URL = 'https://ybbfcffzvcnovdobjwmd.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InliYmZjZmZ6dmNub3Zkb2Jqd21kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjM3MTMwMCwiZXhwIjoyMDk3OTQ3MzAwfQ.ch4GY1JTLTNWJd22qdvtIKwU58pwdzRWt7BIvCeo-F4';\nconst OPENAI_KEY   = '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';\nconst SB = { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json' };\n\nfunction stem(t) { return (t.length > 4 && t.endsWith('s')) ? t.slice(0, -1) : t; }\n\nfunction matchesVehicle(attrs, vehicle) {\n  const comps = attrs?.compatibilities;\n  if (!comps || !Array.isArray(comps) || comps.length === 0) return true;\n  return comps.some(c => {\n    const marcaOk  = !vehicle.marca  || c.marca?.toLowerCase()  === vehicle.marca.toLowerCase();\n    const modeloOk = !vehicle.modelo || c.modelo?.toLowerCase().includes(vehicle.modelo.toLowerCase());\n    const anioOk   = !vehicle.año    || ((!c.año_desde || c.año_desde <= vehicle.año) && (!c.año_hasta || c.año_hasta >= vehicle.año));\n    const motorOk  = !vehicle.motor  || !c.motor || c.motor?.toString().toLowerCase().includes(vehicle.motor.toString().toLowerCase());\n    return marcaOk && modeloOk && anioOk && motorOk;\n  });\n}\n\nfunction extractMarker(text, marker) {\n  const tag = `[${marker}:`; const start = text.indexOf(tag); if (start === -1) return null;\n  const jsonStart = start + tag.length; let depth = 0, i = jsonStart;\n  while (i < text.length) {\n    if (text[i] === '{') depth++;\n    else if (text[i] === '}') { depth--; if (depth === 0) { try { return JSON.parse(text.substring(jsonStart, i + 1)); } catch(e) { return null; } } }\n    i++;\n  }\n  return null;\n}\n\nfunction cleanMarkers(text) {\n  return (text || '')\n    .replace(/\\[SEARCH_PRODUCTS:\\{[\\s\\S]*?\\}\\]/g, '').replace(/\\[PRODUCTS_RESULT:[\\s\\S]*?\\]/g, '')\n    .replace(/\\[GET_PRODUCT_LINK:\\{[\\s\\S]*?\\}\\]/g, '').replace(/\\[PRODUCT_LINK_RESULT:[\\s\\S]*?\\]/g, '')\n    .replace(/\\[CREATE_QUOTE:\\{[\\s\\S]*?\\}\\]\\}?\\]/g, '').replace(/\\[ADD_TAGS:\\{[\\s\\S]*?\\}\\]/g, '')\n    .replace(/\\[UPSERT_VEHICLE:\\{[\\s\\S]*?\\}\\]/g, '').replace(/\\[CLASSIFY_CUSTOMER:\\{[\\s\\S]*?\\}\\]/g, '')\n    .replace(/\\[CREATE_OPPORTUNITY:\\{[\\s\\S]*?\\}\\]/g, '').replace(/\\[DERIVAR:[^\\]]+\\]/g, '')\n    .replace(/\\[PRODUCTS_FALLBACK:[\\s\\S]*?\\]/g, '')\n    .trim();\n}\n\nlet injectedBlocks = [];\nlet suggestedProducts = state.suggested_products || [];\n\nif (state.has_search_products) {\n  const filters   = state.search_products_data || {};\n  const vehicle   = filters.vehicle || {};\n  const priceType = state.price_type;\n\n  const rawTerm = filters.keyword || filters.query || filters.category || null;\n  const STOP    = new Set(['de','del','la','el','los','las','un','una','y','o','para','con','en','al','por']);\n  const tokens  = rawTerm\n    ? rawTerm.toLowerCase().split(/\\s+/).filter(t => t.length > 2 && !STOP.has(t))\n    : [];\n\n  console.log('[SEARCH] rawTerm:', rawTerm, '| tokens:', tokens, '| tenant:', state.tenant_id);\n\n  const seen = new Set();\n  let allProducts = [];\n\n  for (const token of tokens) {\n    const enc = encodeURIComponent(token);\n    try {\n      const r = await this.helpers.httpRequest({ method: 'GET', headers: SB,\n        url: `${SUPABASE_URL}/rest/v1/products?tenant_id=eq.${state.tenant_id}&is_available=eq.true&category=ilike.*${enc}*&select=id,name,sku,price,category,stock,attributes,metadata&order=name.asc&limit=60` });\n      if (Array.isArray(r)) r.forEach(p => { if (!seen.has(p.id)) { seen.add(p.id); allProducts.push(p); } });\n    } catch(e) { console.log('[SEARCH] cat error:', e.message); }\n    try {\n      const r = await this.helpers.httpRequest({ method: 'GET', headers: SB,\n        url: `${SUPABASE_URL}/rest/v1/products?tenant_id=eq.${state.tenant_id}&is_available=eq.true&name=ilike.*${enc}*&select=id,name,sku,price,category,stock,attributes,metadata&order=name.asc&limit=60` });\n      if (Array.isArray(r)) r.forEach(p => { if (!seen.has(p.id)) { seen.add(p.id); allProducts.push(p); } });\n    } catch(e) { console.log('[SEARCH] name error:', e.message); }\n  }\n\n  console.log('[SEARCH] total antes de filtros:', allProducts.length);\n\n  if (tokens.length > 1) {\n    const stemmedTokens = tokens.map(stem);\n    allProducts = allProducts.filter(p => {\n      const text = ((p.name || '') + ' ' + (p.category || '')).toLowerCase();\n      return stemmedTokens.every(st => text.includes(st));\n    });\n    console.log('[SEARCH] después de cross-filter:', allProducts.length);\n  }\n\n  const matched = allProducts.filter(p => matchesVehicle(p.attributes, vehicle)).slice(0, 5);\n  console.log('[SEARCH] compatibles con vehículo:', matched.length);\n\n  const toForAI = (products) => products.map(p => {\n    const wp    = p.attributes?.wholesale_price;\n    const price = (priceType === 'wholesale' && wp) ? wp : p.price;\n    return { id: p.id, name: p.name, sku: p.sku, category: p.category, price,\n             stock: p.stock, in_stock: p.stock === null || p.stock > 0,\n             has_link: !!p.metadata?.ecommerce_url,\n             compatibilities: (p.attributes?.compatibilities || []).slice(0, 2) };\n  });\n\n  if (matched.length > 0) {\n    const forAI = toForAI(matched);\n    injectedBlocks.push(`[PRODUCTS_RESULT:${JSON.stringify(forAI)}]`);\n    suggestedProducts = forAI.map(p => ({ product_id: p.id, name: p.name, sku: p.sku, price: p.price, quantity: 1 }));\n  } else if (allProducts.length > 0) {\n    const fallbackForAI = toForAI(allProducts.slice(0, 3));\n    injectedBlocks.push(`[PRODUCTS_RESULT:sin_compatibilidad_confirmada][PRODUCTS_FALLBACK:${JSON.stringify(fallbackForAI)}]`);\n  } else {\n    injectedBlocks.push('[PRODUCTS_RESULT:ninguno]');\n  }\n}\n\nif (state.has_get_product_link) {\n  const pid = state.get_product_link_data?.product_id;\n  if (pid) {\n    try {\n      const prod = await this.helpers.httpRequest({ method: 'GET', headers: SB,\n        url: `${SUPABASE_URL}/rest/v1/products?id=eq.${pid}&tenant_id=eq.${state.tenant_id}&select=name,sku,metadata&limit=1` });\n      if (Array.isArray(prod) && prod.length > 0) {\n        const link = prod[0].metadata?.ecommerce_url;\n        injectedBlocks.push(link\n          ? `[PRODUCT_LINK_RESULT:${JSON.stringify({ name: prod[0].name, sku: prod[0].sku, url: link })}]`\n          : `[PRODUCT_LINK_RESULT:${JSON.stringify({ error: 'sin_link', name: prod[0].name })}]`);\n      }\n    } catch(e) { console.log('[LINK] error:', e.message); }\n  }\n}\n\nif (injectedBlocks.length === 0) return [{ json: { ...state, suggested_products: suggestedProducts } }];\n\nlet finalText = state.raw_text;\ntry {\n  const secondCall = await this.helpers.httpRequest({\n    method: 'POST', url: 'https://api.openai.com/v1/chat/completions',\n    headers: { 'Authorization': `Bearer ${OPENAI_KEY}`, 'Content-Type': 'application/json' },\n    body: JSON.stringify({ model: state.model || 'gpt-4o',\n      messages: [...state.messages_for_openai, { role: 'user', content: injectedBlocks.join('\\n') }],\n      max_tokens: state.max_tokens || 600, temperature: state.temperature || 0.7 })\n  });\n  finalText = secondCall.choices?.[0]?.message?.content || state.raw_text;\n} catch(e) { console.log('[2a llamada] error:', e.message); }\n\nconst newCreateQuoteData   = extractMarker(finalText, 'CREATE_QUOTE')      || state.create_quote_data;\nconst newAddTagsData       = extractMarker(finalText, 'ADD_TAGS')          || state.add_tags_data;\nconst newUpsertVehicleData = extractMarker(finalText, 'UPSERT_VEHICLE')    || state.upsert_vehicle_data;\nconst newClassifyData      = extractMarker(finalText, 'CLASSIFY_CUSTOMER') || state.classify_customer_data;\nconst dm = finalText.match(/\\[DERIVAR:([^\\]]+)\\]/) || (state.derivar_reason ? [null, state.derivar_reason] : null);\nconst cleanedFinal = cleanMarkers(finalText);\n\nreturn [{ json: { ...state,\n  raw_text: finalText, cleaned_text: cleanedFinal,\n  message_to_send: cleanedFinal || state.message_to_send,\n  suggested_products: suggestedProducts,\n  has_search_products: false, has_get_product_link: false,\n  has_create_quote: !!newCreateQuoteData, create_quote_data: newCreateQuoteData,\n  has_add_tags: !!newAddTagsData, add_tags_data: newAddTagsData,\n  has_upsert_vehicle: !!newUpsertVehicleData, upsert_vehicle_data: newUpsertVehicleData,\n  has_classify_customer: !!newClassifyData, classify_customer_data: newClassifyData,\n  derivar_reason: dm ? dm[1].trim() : null, should_handoff: !!dm\n} }];"
      },
      "id": "a783eb75-9b72-4176-aded-f7bc92ae09f9",
      "name": "Buscar Productos1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        29408,
        7552
      ]
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════════════════════════\n// CREAR_COTIZACION1 — v2\n// Fix: fallback funciona con múltiples pending_quote_items\n//      usa el texto del resumen del bot para identificar producto y cantidad\n// Pegar en el nodo \"Crear Cotización1\" → campo \"JavaScript Code\"\n// ════════════════════════════════════════════════════════════════════════════\n\nconst state = $input.first().json;\nconst pendingQuoteItems = state.pending_quote_items || [];\nconst UUID_REGEX = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\n\n// ── Fallback determinístico ────────────────────────────────────────────────\n// Se activa cuando el AI emitió DERIVAR pero omitió CREATE_QUOTE,\n// y el cliente había confirmado un resumen previo.\nlet effectiveQuoteData = state.create_quote_data || null;\nlet effectiveHasQuote  = state.has_create_quote  || false;\n\nif (!effectiveHasQuote && pendingQuoteItems.length >= 1) {\n  const msgs    = state.messages_for_openai || [];\n  const lastUser = [...msgs].reverse().find(m => m.role === 'user');\n  const lastBot  = [...msgs].reverse().find(m => m.role === 'assistant');\n\n  const AFFIRM      = /\\b(si|sí|dale|ok|va|listo|confirmo|confirmado|perfecto|bueno|claro|adelante|procede|procedo|cotiza|hacelo|sigan)\\b/i;\n  const ASK_CONFIRM = /resumen del pedido|cotizaci[oó]n|confirma|total.*\\$|\\$.*total|presupuesto|¿confirm/i;\n\n  if (lastUser && AFFIRM.test(lastUser.content) && lastBot && ASK_CONFIRM.test(lastBot.content)) {\n    let pi = pendingQuoteItems[0]; // fallback al primero\n\n    // Si hay más de un ítem pendiente, intentar identificar cuál está en el resumen\n    if (pendingQuoteItems.length > 1) {\n      const resumeText = lastBot.content.toLowerCase();\n      const matched = pendingQuoteItems.find(p =>\n        resumeText.includes((p.name || '').toLowerCase().slice(0, 20))\n      );\n      if (matched) {\n        pi = matched;\n        console.log('[CREATE_QUOTE] producto identificado del resumen:', pi.name);\n      } else {\n        console.log('[CREATE_QUOTE] no pude identificar producto del resumen, usando primero:', pi.name);\n      }\n    }\n\n    // Intentar extraer cantidad del resumen (\"Cantidad: 6 unidades\")\n    const qtyMatch = lastBot.content.match(/Cantidad:\\s*(\\d+)/i);\n    const qty = qtyMatch ? parseInt(qtyMatch[1]) : (pi.quantity || 1);\n\n    effectiveQuoteData = {\n      items: [{ product_id: pi.product_id, quantity: qty, notes: null }],\n      notes: null\n    };\n    effectiveHasQuote = true;\n    console.log('[CREATE_QUOTE] fallback activado — producto:', pi.product_id, '| qty:', qty);\n  }\n}\n\nif (!effectiveHasQuote || !effectiveQuoteData) return [{ json: state }];\n\nconst SUPABASE_URL = 'https://ybbfcffzvcnovdobjwmd.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InliYmZjZmZ6dmNub3Zkb2Jqd21kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjM3MTMwMCwiZXhwIjoyMDk3OTQ3MzAwfQ.ch4GY1JTLTNWJd22qdvtIKwU58pwdzRWt7BIvCeo-F4';\nconst SB = { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json', 'Accept': 'application/json' };\n\nconst priceType = state.price_type;\nconst tenantId  = state.tenant_id;\nconst convId    = state.conversation_id;\nconst items     = effectiveQuoteData.items || [];\nif (items.length === 0) return [{ json: state }];\n\nconst convResp = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `${SUPABASE_URL}/rest/v1/conversations?id=eq.${convId}&select=contact_id&limit=1`,\n  headers: SB\n});\nconst contactId = convResp?.[0]?.contact_id;\nif (!contactId) return [{ json: state }];\n\nconst resolvedItems = [];\nlet totalAmount = 0;\n\nfor (const item of items) {\n  let resolvedId = item.product_id;\n\n  // UUID fallback si el AI mandó placeholder\n  if (!resolvedId || !UUID_REGEX.test(resolvedId)) {\n    const validPending = pendingQuoteItems.filter(p => UUID_REGEX.test(p.product_id));\n    if (validPending.length === 1) {\n      resolvedId = validPending[0].product_id;\n      console.log('[CREATE_QUOTE] UUID sustituido desde pending (único válido):', resolvedId);\n    } else if (validPending.length > 1) {\n      resolvedId = validPending[0].product_id;\n      console.log('[CREATE_QUOTE] UUID sustituido desde pending (primero de varios):', resolvedId);\n    } else {\n      console.log('[CREATE_QUOTE] product_id inválido sin fallback:', item.product_id);\n      continue;\n    }\n  }\n\n  const prodResp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${SUPABASE_URL}/rest/v1/products?id=eq.${resolvedId}&tenant_id=eq.${tenantId}&is_available=eq.true&select=id,name,sku,price,attributes&limit=1`,\n    headers: SB\n  });\n  if (!Array.isArray(prodResp) || prodResp.length === 0) continue;\n\n  const product   = prodResp[0];\n  const qty       = Math.max(1, parseInt(item.quantity) || 1);\n  const wp        = product.attributes?.wholesale_price;\n  const unitPrice = (priceType === 'wholesale' && wp) ? Number(wp) : Number(product.price);\n  if (!unitPrice || isNaN(unitPrice)) continue;\n\n  const subtotal = unitPrice * qty;\n  totalAmount += subtotal;\n  resolvedItems.push({\n    product_id: product.id, product_name: product.name, sku: product.sku || null,\n    price_type: priceType, unit_price: unitPrice, quantity: qty, subtotal,\n    notes: item.notes || null\n  });\n}\n\nif (resolvedItems.length === 0) return [{ json: { ...state, quote_error: 'sin_items_validos' } }];\n\n// Generar número de cotización\nlet quoteNumber = 'Q-00001';\ntry {\n  const existing = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${SUPABASE_URL}/rest/v1/quotes?tenant_id=eq.${tenantId}&select=quote_number&order=created_at.desc&limit=200`,\n    headers: SB\n  });\n  if (Array.isArray(existing) && existing.length > 0) {\n    const nums   = existing.map(q => q.quote_number).filter(n => /^Q-\\d+$/.test(n)).map(n => parseInt(n.slice(2)));\n    const maxNum = Math.max(...nums);\n    const next   = isFinite(maxNum) ? maxNum + 1 : 1;\n    quoteNumber  = 'Q-' + String(next).padStart(5, '0');\n  }\n} catch(e) { console.log('[QN] error:', e.message); }\n\n// Crear cotización\nconst quoteResp = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `${SUPABASE_URL}/rest/v1/quotes`,\n  headers: { ...SB, 'Prefer': 'return=representation' },\n  body: JSON.stringify({\n    tenant_id: tenantId, contact_id: contactId, conversation_id: convId,\n    channel_id: state.channel_id, quote_number: quoteNumber,\n    price_type: priceType, status: 'sent',\n    total_amount: totalAmount, currency: 'ARS',\n    notes: effectiveQuoteData.notes || null\n  })\n});\nconst quoteId = quoteResp?.[0]?.id;\nif (!quoteId) return [{ json: state }];\n\n// Insertar ítems\nfor (const qi of resolvedItems) {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${SUPABASE_URL}/rest/v1/quote_items`,\n    headers: { ...SB, 'Prefer': 'return=minimal' },\n    body: JSON.stringify({ quote_id: quoteId, ...qi })\n  });\n}\n\nconst totalFmt = new Intl.NumberFormat('es-AR', { style: 'currency', currency: 'ARS', maximumFractionDigits: 0 }).format(totalAmount);\nconst quoteText = `\\n\\n📋 *Cotización ${quoteNumber}*\\nTotal: ${totalFmt} (${priceType === 'wholesale' ? 'precio mayorista' : 'precio minorista'})`;\n\nreturn [{ json: {\n  ...state,\n  quote_number: quoteNumber,\n  quote_id: quoteId,\n  quote_total: totalAmount,\n  message_to_send: state.message_to_send + quoteText,\n  has_create_quote: false\n} }];"
      },
      "id": "db45b7f6-61b4-4696-a31e-a4f7dc3ee638",
      "name": "Crear Cotización1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        29648,
        7552
      ]
    },
    {
      "parameters": {
        "jsCode": "const state = $input.first().json;\nconst hasWork = state.has_add_tags || state.has_upsert_vehicle || state.has_classify_customer\n               || (state.suggested_products?.length > 0) || !!state.quote_id;\nif (!hasWork) return [{ json: state }];\nconst SUPABASE_URL = 'https://ybbfcffzvcnovdobjwmd.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InliYmZjZmZ6dmNub3Zkb2Jqd21kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjM3MTMwMCwiZXhwIjoyMDk3OTQ3MzAwfQ.ch4GY1JTLTNWJd22qdvtIKwU58pwdzRWt7BIvCeo-F4';\nconst SB = { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json', 'Accept': 'application/json' };\nconst convResp = await this.helpers.httpRequest({ method: 'GET', url: `${SUPABASE_URL}/rest/v1/conversations?id=eq.${state.conversation_id}&select=contact_id&limit=1`, headers: SB });\nconst contactId = convResp?.[0]?.contact_id;\nif (!contactId) return [{ json: state }];\nconst contactResp = await this.helpers.httpRequest({ method: 'GET', url: `${SUPABASE_URL}/rest/v1/contacts?id=eq.${contactId}&select=tags,metadata&limit=1`, headers: SB });\nconst contact     = contactResp?.[0] || {};\nconst currentTags = contact.tags || [];\nconst currentMeta = contact.metadata || {};\nconst patch = {};\n// ── Tags: ADD_TAGS marker ─────────────────────────────────────────────\nif (state.has_add_tags && state.add_tags_data?.tags) {\n  const newTags = Array.isArray(state.add_tags_data.tags) ? state.add_tags_data.tags : [state.add_tags_data.tags];\n  patch.tags = [...new Set([...currentTags, ...newTags])];\n}\n// ── Metadata ──────────────────────────────────────────────────────────\nconst metaPatch = { ...currentMeta };\nif (state.has_upsert_vehicle && state.upsert_vehicle_data) {\n  metaPatch.vehicle = { ...(currentMeta.vehicle || {}), ...state.upsert_vehicle_data };\n}\nif (state.has_classify_customer && state.classify_customer_data) {\n  const cd = state.classify_customer_data;\n  if (cd.customer_type) metaPatch.customer_type = cd.customer_type;\n  if (cd.location)      metaPatch.location = cd.location;\n  if (cd.company)       metaPatch.company  = cd.company;\n  // Tags según tipo de cliente (sin pisar otras tags como listo-para-cerrar)\n  let tags = [...(patch.tags || currentTags)];\n  if (cd.customer_type === 'retail') {\n    tags = tags.filter(t => !['wholesale', 'capiello'].includes(t));\n    tags = [...new Set([...tags, 'retail', 'dipa'])];\n  } else if (cd.customer_type === 'wholesale') {\n    tags = tags.filter(t => !['retail', 'dipa'].includes(t));\n    tags = [...new Set([...tags, 'wholesale', 'capiello'])];\n  }\n  patch.tags = tags;\n}\n// ── pending_quote_items ───────────────────────────────────────────────\nif (state.quote_id) {\n  delete metaPatch.pending_quote_items;\n} else if (state.suggested_products?.length > 0) {\n  metaPatch.pending_quote_items = state.suggested_products;\n}\nif (JSON.stringify(metaPatch) !== JSON.stringify(currentMeta)) patch.metadata = metaPatch;\nif (Object.keys(patch).length > 0) {\n  await this.helpers.httpRequest({ method: 'PATCH', url: `${SUPABASE_URL}/rest/v1/contacts?id=eq.${contactId}`, headers: { ...SB, 'Prefer': 'return=minimal' }, body: JSON.stringify(patch) });\n}\nreturn [{ json: state }];"
      },
      "id": "ed727793-9ab9-41b0-acd4-2c2bd41fbf99",
      "name": "Actualizar Contacto1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        29888,
        7552
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Respond - 200 OK": {
      "main": [
        [
          {
            "node": "Extraer Datos WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos WA": {
      "main": [
        [
          {
            "node": "¿Es mensaje de texto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es mensaje de texto?": {
      "main": [
        [
          {
            "node": "Buscar Canal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Tenant": {
      "main": [
        [
          {
            "node": "Upsert Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Contact": {
      "main": [
        [
          {
            "node": "Find or Create Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find or Create Conversation": {
      "main": [
        [
          {
            "node": "Insertar Mensaje en Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Mensaje en Supabase": {
      "main": [
        [
          {
            "node": "¿Conversación asignada?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar Historial": {
      "main": [
        [
          {
            "node": "Preparar Mensajes OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensajes OpenAI": {
      "main": [
        [
          {
            "node": "Llamar OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamar OpenAI": {
      "main": [
        [
          {
            "node": "Analizar Markers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Derivar a humano?": {
      "main": [
        [
          {
            "node": "Update Conversacion - Derivar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Conversacion - Derivar": {
      "main": [
        [
          {
            "node": "Enviar WA - Derivar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WA - Derivar": {
      "main": [
        [
          {
            "node": "Guardar Mensaje Bot - Derivar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WA": {
      "main": [
        [
          {
            "node": "Guardar Mensaje Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WA Webhook GET1": {
      "main": [
        [
          {
            "node": "Respond - Verificacion Meta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WA Webhook POST1": {
      "main": [
        [
          {
            "node": "Respond - 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Canal1": {
      "main": [
        [
          {
            "node": "¿Canal encontrado?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Canal encontrado?1": {
      "main": [
        [
          {
            "node": "Buscar Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Conversación asignada?1": {
      "main": [
        [],
        [
          {
            "node": "Cargar Historial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar Markers1": {
      "main": [
        [
          {
            "node": "Buscar Productos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Productos1": {
      "main": [
        [
          {
            "node": "Crear Cotización1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Cotización1": {
      "main": [
        [
          {
            "node": "Actualizar Contacto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Contacto1": {
      "main": [
        [
          {
            "node": "¿Derivar a humano?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f574b179-996b-44c3-b748-8d6d6a743f2a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ca582e9ddccb5cb4fc09997b4a66be7fc529274457c7635d795f7d79d644755"
  },
  "nodeGroups": [],
  "id": "IbZ1O9ohSjDnomgv",
  "tags": [
    {
      "updatedAt": "2026-07-21T17:31:14.570Z",
      "createdAt": "2026-07-21T17:31:14.570Z",
      "id": "rf3ca9mJ4KU1gWeb",
      "name": "repuestos"
    },
    {
      "updatedAt": "2026-07-21T17:31:14.618Z",
      "createdAt": "2026-07-21T17:31:14.618Z",
      "id": "w8JoG5LSeKk35a7v",
      "name": "whatsapp-bot"
    }
  ]
}